@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: rgb(123, 195, 255);
    --cor-primaria-solid: #3498db;
    --cor-secundaria: #7bc3ff;
    --cor-glow: rgba(123, 195, 255, 0.35);
    --cor-card: rgba(255, 255, 255, 0.04);
    --cor-borda-fraca: rgba(123, 195, 255, 0.35);
    --cor-grid: rgba(255, 255, 255, 0.02);
    --cor-background: #111;
    --cor-texto: white;
}

body {
    background-color: #0d0d0d;
    font-family: "Poppins", sans-serif;
}


.none {
    display: none;
}


a {
    text-decoration: none;
}

.logo-drive-code {
    font-family: "Poppins", sans-serif;
    color: white;
}

.logo-drive-code span {
    color: var(--cor-primaria);
}


.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 10px 5%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right,
            var(--cor-primaria-solid),
            var(--cor-secundaria));
    border-image-slice: 1;
    min-height: 9vh;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
}

.navbar a.link-ativo {
    border-bottom: 1px solid var(--cor-primaria);
}

.navbar a:hover {
    color: var(--cor-primaria);
}

.usuario-logado {
    color: white;
    font-family: "Poppins", sans-serif;
}

.btn-logout {
    background-color: red;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    transition: 0.3s;

    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btn-logout:hover {
    background-color: #80180d;
    cursor: pointer;
}

.dashboard-page {
    min-height: 91vh;
    padding: 70px 10%;
    background-color: var(--cor-background);
    background-image:
        linear-gradient(var(--cor-grid) 1px, transparent 1px),
        linear-gradient(90deg, var(--cor-grid) 1px, transparent 1px);
    background-size: 40px 40px;
    color: var(--cor-texto);
    font-family: "Poppins", sans-serif;
}

.dashboard-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 35px;
    padding: 12px;
    border-radius: 18px;
    background: rgba(19, 19, 19, 0.856);
    border: 1px solid rgba(123, 195, 255, 0.15);
}

.dashboard-tabs button {
    padding: 14px 22px;
    border: none;
    border-radius: 12px;
    background: transparent;
    color: #dcdcdc;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.dashboard-tabs button:hover {
    background: rgba(123, 195, 255, 0.12);
    color: rgb(123, 195, 255);
    transform: translateY(-2px);
}

.dashboard-tabs button.aba-ativa {
    background: linear-gradient(to right, rgba(0, 89, 255, 0.85), rgba(123, 195, 255, 0.85));
    color: white;
    box-shadow: 0 10px 25px rgba(0, 89, 255, 0.25);
}

.geral-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(0, 89, 255, 0.85), rgba(123, 195, 255, 0.85));
    color: white;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.hero-intro h2 {
    font-size: 30px;
    font-weight: 300;
}

.hero-intro span {
    font-weight: bold;
}

.hero-ranking {
    font-size: 20px;
}

.hero-ranking span {
    font-size: 30px;
    font-weight: bold;
}

.geral-kpis {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
    margin-bottom: 30px;
}

.kpi-card {
    flex: 1;
    padding: 28px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(123, 195, 255, 0.15);
}

.kpi-card h3 {
    font-size: 30px;
    margin: 12px 0 8px;
}

.kpi-card p {
    opacity: 0.75;
    font-size: 14px;
}

.xp-barra {
    width: 100%;
    height: 10px;
    margin-top: 18px;
    border-radius: 20px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.1);
}

#xp_barra_fill {
    height: 100%;
    width: 0%;
    border-radius: 20px;

    background: linear-gradient(to right,
            blue,
            rgb(123, 195, 255));

    transition: 0.4s ease;
}

.geral-graficos {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 22px;
    align-items: stretch;
}

.grafico-card,
.feed-xp-card {
    padding: 28px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(123, 195, 255, 0.15);
    color: white;
    margin-bottom: 30px;
}

.grafico-container {
    height: 320px;
    width: 100%;
}

.grafico-container canvas {
    width: 100%;
    height: 100%;
}

.feed-xp-card {
    margin-top: 30px;
}

.feed-xp-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(123, 195, 255, 0.15);
    padding: 14px 0;
}

.feed-xp-item span {
    background: linear-gradient(to right, rgb(41, 41, 136), rgb(35, 67, 94));
    padding: 8px 12px;
    border-radius: 50px;
    font-weight: bold;
}




.loja-header {
    margin-bottom: 28px;
}

.loja-header h2 {
    font-size: 32px;
}

.loja-header p {
    opacity: 0.75;
}

.loja-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.item-loja-card {
    padding: 24px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(123, 195, 255, 0.15);
    color: white;
}

.item-loja-card h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

.item-loja-card p {
    opacity: 0.75;
    font-size: 14px;
    min-height: 42px;
}

.item-loja-card .item-preco {
    display: inline-block;
    margin: 18px 0;
    padding: 7px 12px;
    border-radius: 50px;
    background: rgba(123, 195, 255, 0.12);
    color: var(--cor-primaria);
    font-size: 13px;
}

.item-loja-card .item-loja-xpFalta {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 7px 12px;
    border-radius: 50px;
    background: rgba(255, 5, 5, 0.644);
    color: white;
    font-size: 13px;
}

.item-loja-card button {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 10px 16px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, rgb(41, 41, 136), rgb(35, 67, 94));
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.item-loja-card button.btn-adquirido {
    background: linear-gradient(to right, rgb(41, 136, 80), rgb(35, 94, 48));
    cursor: default;
}

.item-loja-card.bloqueado {
    opacity: 0.5;
    border-color: rgba(255, 5, 5, 0.644);
}

.item-loja-card.adquirido {
    border-color: rgba(34, 197, 94, 0.6);
}

#aba_garagem h2 {
    font-size: 30px;
}

#aba_garagem p {
    opacity: 0.75;
    margin-top: 5px;
}


.garagem-carro {
    padding: 28px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(123, 195, 255, 0.15);
    color: white;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carro-container {
    position: relative;
    width: 520px;
    height: 240px;
}

.carro-roof {
    position: absolute;
    left: 155px;
    top: 38px;
    width: 210px;
    height: 85px;

    background: #0066ff;
    border-radius: 120px 120px 20px 20px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    z-index: 2;
}

.carro-body {
    position: absolute;
    left: 45px;
    top: 105px;
    width: 430px;
    height: 95px;

    background: #0066ff;
    border-radius: 90px 130px 45px 45px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    z-index: 3;
}

.janela {
    position: absolute;
    top: 58px;
    height: 45px;

    background: rgba(5, 18, 35, 0.95);
    border: 2px solid rgba(123, 195, 255, 0.55);
    z-index: 4;
}

.janela-esq {
    left: 185px;
    width: 75px;
    border-radius: 60px 10px 8px 8px;
}

.janela-dir {
    left: 270px;
    width: 80px;
    border-radius: 10px 60px 8px 8px;
}

.farol {
    position: absolute;
    top: 135px;
    width: 22px;
    height: 18px;
    border-radius: 50%;
    z-index: 5;
}

.farol-esq {
    left: 62px;
    background: #ff3b3b;
    box-shadow: 0 0 14px #ff3b3b;
}

.farol-dir {
    right: 62px;
    background: #fff7a8;
    box-shadow: 0 0 16px #fff7a8;
}

.roda {
    position: absolute;
    top: 160px;
    width: 82px;
    height: 82px;

    background: #050505;
    border-radius: 50%;
    border: 8px solid #2c2c2c;
    z-index: 6;
}

.roda::after {
    content: "";
    position: absolute;
    inset: 18px;

    background: #b8c7d9;
    border-radius: 50%;
}

.roda-esq {
    left: 115px;
}

.roda-dir {
    right: 115px;
}


.garagem-itens {
    margin-top: 35px;
}

.garagem-itens h3 {
    font-size: 24px;
    margin-bottom: 18px;
}

.garagem-itens-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.item-garagem-card {
    padding: 22px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(123, 195, 255, 0.15);
    color: white;
    transition: 0.3s ease;
}

.item-garagem-card:hover {
    transform: translateY(-4px);
    border-color: rgba(123, 195, 255, 0.45);
    box-shadow: 0 12px 28px rgba(0, 89, 255, 0.12);
}

.item-garagem-card h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.item-garagem-card p {
    font-size: 14px;
    opacity: 0.75;
    line-height: 1.5;
    margin-bottom: 18px;
}

.item-garagem-card button {
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, rgb(56, 214, 90), rgb(0, 66, 39));
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.item-garagem-card button:hover {
    transform: translateY(-2px);
}

.item-garagem-card button.btn-equipado {
    background: linear-gradient(to right, #c53319, #630e08);
}

.item-garagem-card input[type="color"] {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
}