@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo-drive-code {
    font-family: "Poppins", sans-serif;
    color: white;
}

.logo-drive-code span {
    color: blue;
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 10px 5%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, rgb(0,0,255), rgb(123, 195, 255));
    border-image-slice: 1;
    height: 5vh;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
}

.navbar a.link-ativo {
    border-bottom: 1px solid blue;
}

.navbar a:hover {
    color: blue;
}

.btn-login {
    background-color: blue;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    transition: 0.3s;
}
.btn-login:hover {
    background-color: white;
}

.btn-cadastro {
    background-color: rgb(123, 195, 255);
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    transition: 0.3s;
}
.btn-cadastro:hover {
    background-color: white;
}


.hero {
    height: 70vh;

    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../assets/mercedes-hero.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-conteudo {
    max-width: 1000px;
    color: white;
    font-family: "Poppins", sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-line {
    background: linear-gradient(to right, rgb(0,0,255), rgb(123, 195, 255));
    width: 700px;
    height: 4px;
    border-radius: 2px;
    margin: 15px auto 25px;
}


.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
}

